@font-face {
  font-family: 'Lucida Sans Italic'; /*Helvetica, sans-serif;*/
  src: url('./fonts/lucida-sans-italic.TTF');
}

@font-face {
  font-family: 'SegoeWP Light';
  src: url('./fonts/segoe-wp-light.ttf');
}

@font-face {
  font-family: 'SegoeWP';
  src: url('./fonts/segoe-wp.woff');
}

@font-face {
  font-family: 'SegoeUI Light';
  src: url('./fonts/segoe-ui-light.ttf');
}

@font-face {
  font-family: 'SegoeUI Bold';
  src: url('./fonts/segoe-ui-bold.ttf');
}

@font-face {
  font-family: 'SegoeUI';
  src: url('./fonts/segoe-ui.ttf');
}

body {
  width: 640px;
  margin: 0 auto;
  display: grid;
  align-items: stretch;
  grid-template-areas: 
    "header"
    "ribbon"
    "advantages"
    "content"
    "options"
    "footer";

  background-color: aquamarine;
  letter-spacing: 0.01em;
}

header {
  grid-area: header;
  height: 63px;
  margin: 0;
  display: grid;
  grid-template-columns: 186px auto;
  align-items: stretch;
  background-color: grey;
}

header .logo {
  padding: 0 0 0 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header img {
  width: 39px;
  height: 39px;
}
header h1 {
  margin: 0 0 0 6px;
  font-family: 'Lucida Sans Italic', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffffff;
}

#header-navigation ul {
  margin: 0;
  padding: 0;
  width: 454px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;

  font-family: 'SegoeWP', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;

  list-style: none;
}

#header-navigation li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5c506;
}

#header-navigation li a{
  display: flex;
  align-items: center;
  color: #9B7D08;
  text-decoration: none;
}

#header-navigation .menu-icon {
  height: 25px;
  width: 25px;
}

#header-navigation li a:hover{
  color: #000000;
  text-decoration: underline;
}

#header-navigation li+li {
  margin-left:1px;
}

#ribbon {
  grid-area: ribbon;
  height: 327px;

}

#ribbon .ribbon-video {
  margin: 0;
}

#ribbon .video-desktop {
  display: none;
}

#ribbon .ribbon-text,
#ribbon .ribbon-button {
  display: none;
}

#advantages-box {
  grid-area: advantages;
  height: 174px;
  background-color: #ffffff;
}

#advantages {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-end;
  text-align: center;
}

#advantages .table-spacer{
  display: none;
}

#advantages figure {
  padding-bottom: 15px;
}

#advantages img {
  height: 70px;
  width: auto;
}

figcaption {
  margin-top: 5px;
  list-style-type: none;
  font-family: 'SegoeUI Light', sans-serif;
  font-size: 23px;
  font-weight: lighter;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000000;
}

#content-box {
  grid-area: content;
  height: 480px;
  background-color: white;
}

#content {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "text video"
    "social social";
  align-items: flex-start;


  font-family: 'SegoeWP Light', sans-serif;
  font-size: 29px;
  line-height: 1.2em;
  color: #ffffff;
}

#content-header {
  display: none;
}

#content .content-faceplate {
  align-self: stretch;
  margin: 6px 5px 5px 9px;
  background-color: #ec9e03;
  position: relative;
}

#content .content-faceplate-expand {
  position: absolute;
  bottom: 11px;
  right: 11px;
}

#content .content-text {
  grid-area: text;
  margin: 0;
  padding: 0.5em 1em 0;
  text-align: left;
}

#content .content-video{
  grid-area: video;
  align-self: stretch;
  margin: 5px;
}

#content .content-social {
  margin: 0;
  grid-area: social;
  height: 100%;
  background-color: #f5c507;
  position: relative;
}

.content-social .content-faceplate-expand {
  display: none;
}

#content .content-social-followers,
#content-calendar,
.slidecontainer {
  display: none;
}

#options-box {
  grid-area: options;
  height: 466px;
  background-color: #474747;
}

#options {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "picture";
  align-items: flex-start;
  height: 100%;
}

#options-header {
  grid-area: header;
  margin: 0.5em;
  align-self: center;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 39px;
  text-transform: uppercase;
  letter-spacing: 0.055em;
  color: #f5c506;
}

#options-picture {
  grid-area: picture;
  margin: 25px 0 30px 55px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

#options-picture-tablet,
#options-picture-mobile {
  margin-left: 25px;
  padding-bottom: 40px;
}

#options-picture-label {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -27px;
  left: -27px;
  box-sizing:border-box;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 117px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #f5c506;
}

#options-list{
  display: none
}


footer {
  grid-area: footer;
  height: 40px;
  background-color: #4c4c4c;
  box-shadow: 1px -2px #000000;
}

footer .logo {
  margin: 0 64px;
  padding: 5px 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

footer .logo img {
  width: 34px;
  height: 34px;
}
footer h1 {
  margin: 0 0 5px 0;
  padding: 0 0 0 6px;
  font-family: 'Lucida Sans Italic', sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #ffffff;
}