@font-face {
  font-family: 'Lucida Sans Italic'; /*Helvetica, sans-serif;*/
  src: url('./fonts/lucida-sans-italic.TTF');
}

@font-face {
  font-family: 'Asap Regular'; /*Helvetica, sans-serif;*/
  src: url('./fonts/asap-regular.otf');
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url('./fonts/open-sans-regular.woff');
}

@font-face {
  font-family: 'PTSans Regular';
  src: url('./fonts/pt-sans-regular.ttf');
}

@font-face {
  font-family: 'SegoeWP Light';
  src: url('./fonts/segoe-wp-light.ttf');
}

@font-face {
  font-family: 'SegoeWP';
  src: url('./fonts/segoe-wp.woff');
}

@font-face {
  font-family: 'SegoeUI Light';
  src: url('./fonts/segoe-ui-light.ttf');
}
/*TODO: grid areas  140px|...|140px*/

body {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 112px 1671px 64px;
  align-items: center;
  background-image: url(../assets/top_layer.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1300px auto;

  letter-spacing: 0.01em;
}

header {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.menu ul {
  display: grid;
  width:454px;
  grid-template-columns: 173fr 132fr 147fr;
  align-items: center;
  text-align: center;
}

.menu li{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  list-style-type: none;
  font-family: 'SegoeWP', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  padding: 0.5rem;
  background-color: #f5c506;
  box-shadow: -5px -5px rgba(245,197,6,0.27), -10px -10px rgba(245,197,6,0.27); /* Параметры тени */
}

.menu li a{
  display: flex;
  align-items: center;
  color: #9B7D08;
  text-decoration: none;
}

.menu .menu-icon {
  margin-right: 10px;
}

.menu li a:hover{
  color: #000000;
  text-decoration: underline;
}

.menu li+li {
  margin-left:1px;
}

.logo {
  margin-bottom: 8px;
}

main {
  display: grid;
  grid-template-rows: 454px 212px 509px 499px;
}

#ribbon {
  display: grid;
  grid-template-columns: 141px auto 141px;
  align-items: center;
}

#ribbon-content {
  display: inline-flex;
  justify-content: space-evenly;
  margin-right: 15px;
}

.ribbon-video {
  margin-right: 30px;
  padding-bottom: 10px;
}

.ribbon-text{
  padding-top: 5px;

  font-family: 'Asap Regular', sans-serif;
  font-size: 63px;
  text-transform: uppercase;
  text-align: center;
}

#ribbon .ribbon-text-up {
  color: #f5c506;
}

#ribbon .ribbon-text-down {
  padding-left: 10px;
  color: #ffffff;
}

.ribbon-button{
  height: 58px;
  width: 33px;
  margin-bottom: 20px;
  border: none;
  background-color: #f5c506;
}

#ribbon-left-button {
  justify-self: left;
}

#ribbon-right-button {
  justify-self: right;
}

#advantages-box {
  background-image: url(../assets/advantages_layer.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1300px auto;
}

#advantages {
  height: 100%;
  margin-left: 140px;
  margin-right: 140px;
  display: grid;
  grid-template-columns: 2px 1fr 2px 1fr 2px 1fr 2px;
  align-items: flex-end;
  text-align: center;
}

#advantages .table-spacer{
  height: 100%;
  background-color: #d4d4d4;
}

#advantages figure {
  padding-bottom: 15px;
}

figcaption {
  margin-top: 5px;
  list-style-type: none;
  font-family: 'SegoeUI Light', sans-serif;
  font-size: 27px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #000000;
}

#content {
  background-color: #f5c407;
  
  font-family: 'SegoeWP Light', sans-serif;
  font-size: 29px;
  color: #ffffff;
}

#content h1 {
  font-family: 'PTSans Regular', sans-serif;
  font-size: 37px;
  text-transform: uppercase;
}

#options-box {
  background-color: #4c4c4c;
}

#options {
  margin: 0 140px 0px 140px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
    "header header"
    "picture list";
  align-items: flex-start;
  height: 100%;
}

#options-header {
  grid-area: header;
  margin: 0.5em;
  padding-left: 0.1em;
  align-self: center;
  text-align: center;
  font-family: 'PTSans Regular', sans-serif;
  font-weight: lighter;
  font-size: 43px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #f5c506;
}

#options-picture {
  margin-left: 16px;
  grid-area: picture;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

#options-picture-tablet,
#options-picture-mobile {
  margin-left: 25px;
  padding-bottom: 40px;
}

#options-list{
  grid-area: list;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'PTSans Regular', sans-serif;
  font-size: 22px;
  hyphens: auto;
  color: #a9a9a7;
  margin: 0 1px 0;
  padding: 2.1em 0 4em 0.6em;
}

#options-list > li {
  position: relative;
  margin: auto 0 auto 1.8em;
  padding: 0 0.2em;
  list-style: none; 
}

#options-list li::before {
  content: url("../assets/bullet.png");
  position: absolute;
	top: 0;
	left: -0.75em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width: 0.5em;
  padding-right: 1em;
  margin-left: -0.5em;
  margin-right: 0em;
  }

#options-list li:nth-child(odd) {
  letter-spacing: 0.04em;
}

#options-list li:nth-child(even) {
  font-family: 'OpenSans Regular', sans-serif;
  overflow-wrap: break-word;
}

footer {
  border-top: 1px solid #000000;
  background-color: #4c4c4c;
}

.footer-logo{
  margin-left: 140px;
}
/*
footer h1 {
  font-family: 'Lucida Sans Italic', sans-serif;
  font-size: 29px;
  font-style: italic;
  text-transform: uppercase;
  color: #ffffff;
}
*/