@font-face {
  font-family: 'Lucida Sans Italic'; /*Helvetica, sans-serif;*/
  src: url('./fonts/lucida-sans-italic.TTF');
}

@font-face {
  font-family: 'SegoeWP Light';
  src: url('./fonts/segoe-wp-light.ttf');
}

@font-face {
  font-family: 'SegoeWP';
  src: url('./fonts/segoe-wp.woff');
}

@font-face {
  font-family: 'SegoeUI Light';
  src: url('./fonts/segoe-ui-light.ttf');
}

@font-face {
  font-family: 'SegoeUI Bold';
  src: url('./fonts/segoe-ui-bold.ttf');
}

@font-face {
  font-family: 'SegoeUI';
  src: url('./fonts/segoe-ui.ttf');
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid green;
}

body {
  width: 640px;
  margin: 0 auto;
  display: grid;
  align-items: stretch;
  grid-template-areas: 
    "header"
    "ribbon"
    "advantages"
    "content"
    "options"
    "footer";
  letter-spacing: 0.01em;
  background-color: aquamarine;
}

header {
  grid-area: header;
  height: 63px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #5A5A5A;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo--title {
  font-family: 'Lucida Sans Italic', sans-serif;
  font-style: italic;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffffff;
}

header .logo {
  padding: 0 0 0 12px;
}

header .logo--image {
  width: 39px;
  height: 39px;
}

header .logo--title {
  font-size: 20px;
}

.navigation {
  height: 100%;
  width: 454px;
  display: grid;
  grid-template-columns: 173fr 132fr 147fr;
  grid-gap: 1px;
  align-items: stretch;
  font-family: 'SegoeWP', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
}

.navigation_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFC006;
  text-decoration: none;
}

.navigation_item:hover{
  color: #5A5A5A;
  text-decoration: underline;
  cursor: pointer;
}

.ribbon_video {
  height: 327px;
  width: 640px;
  
}

main {
  display: none;
}

footer {
  display: none;
}

@media (min-width: 1300px) {
  body {
    width: 1300px;
    background-image: url(../assets/top_layer.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1300px auto;
  }

  header {
    height: 110px;
    padding: 0 140px;
    background-color: #5A5A5A00;
    align-items: flex-end;
  }

  header .logo {
    padding: 0;
  }

  header .logo--image {
    width: 80px;
    height: 80px;
  }
  
  header .logo--title {
    margin: 5px 0 0 5px;
    font-size: 41px;
  }

  .navigation {
    height: 42px;
    font-size: 17px;
    box-shadow: -4px -5px rgba(245,197,6,0.27), -8px -8px rgba(245,197,6,0.27);
  }

  .ribbon_video {
    width: 549px;
    background:transparent url('./assets/parrots.png') no-repeat 0 0;
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover;
    background-size: cover;
  }

}

